body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
}

h2 {
    color: #333;
    font-size: 2rem;
}

.table th, .table td {
    vertical-align: middle;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
